@model Seating_Planner_Data.Event

@{
    ViewBag.Title = "Create New Event";
}

<h2>Create New Event</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("createdBy", WebSecurity.CurrentUserId)
    
    <fieldset>
        <legend>Create New Event</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Event Name")
        </div>
        <div class="editor-field">
            @Html.TextBox("name", string.Empty)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Venue, "Venue")
        </div>
        <div class="editor-field">
            @Html.TextBox("venue", string.Empty)
            @Html.ValidationMessageFor(model => model.Venue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate, "Start Date")
        </div>
        <div class="editor-field">
            @Html.TextBox("startdate", string.Empty)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate, "End Date")
        </div>
        <div class="editor-field">
            @Html.TextBox("enddate", string.Empty)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Budget, "Budget")
        </div>
        <div class="editor-field">
            @Html.TextBox("budget", string.Empty)
            @Html.ValidationMessageFor(model => model.Budget)
        </div>
        <p>
            <input type="submit" value="Create" /> <input type="button" value="Cancel" onclick="javascript: history.back(-1);" />
        </p>
    </fieldset>
}