@{
    ViewBag.Title = "Tables";
    Layout = null;
}

<h2>Tables</h2>

@foreach (var m in Model)
{
    @Html.ActionLink("Create New Table", "Create", "Table", new { id = @m.EventId }, null);
    foreach(var t in m.Tables)
    {
        <p>@Html.ActionLink((string)@t.Name, "Details", "Table", new { id = @t.TableId }, null) (@t.Capacity pax)</p>
    }
}
